@import "./variables.scss";
@import "./normalize.scss";
@import "./fonts.scss";

a {
  text-decoration: none;
  color: $c-white;
}

a:hover {
  text-decoration: none;
}

.body {
  font-family: $mainFont;
}
