@mixin gradient1 {
  background: linear-gradient(to top right, rgb(44, 24, 70), rgb(81, 46, 122));
}
@mixin gradient2 {
  background: rgb(143, 38, 140);
  background: linear-gradient(
    266deg,
    rgba(143, 38, 140, 1) 0%,
    rgba(2, 0, 36, 1) 100%
  );
}
@mixin gradient3 {
  background: linear-gradient(
    266deg,
    rgba(202, 202, 202, 1) 0%,
    rgba(107, 107, 107, 1) 80%
  );
}
@mixin gradient4 {
  background: linear-gradient(to top right, #4b4b4b, rgb(185, 185, 185));
}
@mixin gradient5 {
  background: linear-gradient(to top right, rgb(12, 15, 55), rgb(18, 76, 229));
}
@mixin gradient6 {
  background: linear-gradient(to top right, #000286, rgb(4, 0, 247));
}
@mixin gradient7 {
  background: linear-gradient(
    243deg,
    rgba(189, 169, 145, 1) 23%,
    rgba(7, 6, 5, 1) 100%
  );
}
@mixin gradient8 {
  background: linear-gradient(to top right, #3f3c3c, rgb(134, 119, 119));
}

@mixin start_button {
  font-family: $Font2;
  font-size: 12px;

  position: relative;
  color: $c-white;
  width: 230px;
  height: 60px;
  border-radius: 10px;
  display: flex;
  align-content: center;
  transition: 1s all;
  margin: 10px 10px;
  img {
    width: 60px;
    height: 60px;
  }
  p {
    margin: auto 30px auto 20px;
    text-align: left;
    max-width: 130px;
  }
}

@mixin SignOfAnswer {
  position: absolute;
  background-size: 100% 100%;
  display: inline-block;
  width: 45px;
  height: 45px;
  content: "";
}

@mixin tip_wrapper {
  margin: 0 auto;
  font-size: 20px;
  max-width: 550px;
  min-height: 40px;
  text-align: center;
  color: $c-white;
  p {
    margin: 6% auto;
  }
}

@mixin result_circle {
  margin: auto 5px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-content: center;
  color: $c-white;
  min-width: 60px;
  height: 60px;
}

@mixin category {
  box-sizing: border-box;
  margin: 10px 10px;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  transition: 0.5s all;

  &:hover {
    box-shadow: 3px 3px 3px rgb(97, 0, 136);
  }
}
@mixin dragAndDropPlace {
  width: 160px;
  height: 70px;
  border-radius: 15px;

  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  @media screen and (max-width: 600px) {
    margin: 0 40px 0 0;
  }
}
@mixin dragAndDropButton {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 160px;
  height: 70px;
  border-radius: 15px;
  color: $c-white;

  // margin: 10px;
  transition: all 0.7s;
  p {
    font-size: pxToRem(12);
    height: 20%;
    margin: 0 20px;
  }
  &:hover {
    cursor: pointer;
    filter: hue-rotate(40deg) brightness(1.5);
  }
}

@function pxToRem($pxsize, $rembase: 16) {
  @return ($pxsize/$rembase) + rem;
} ;
