//colors

//standard
$c-white:white;
$c-red:red;
$c-green:green;
//shadows
$c-greyOpacity1:rgba(119, 119, 119, 0.5);
$shadow-1:0 0 0.2em rgb(39, 39, 39), 0 0 0.2em rgb(34, 34, 34),0 0 0.2em rgb(36, 36, 36);

//fonts
$mainFont: 'Bebas Neue', cursive;
$Font2:  'Comfortaa', cursive;
//sizes
$s-xxsmall:5px;
$s-xsmall:10px;
$s-small:20px;
$s-normal:60px;
//Lists

$categories-backgrounds:("homepage":"1", "tech":"2", "moto":"4", "prog":"1", "history":"5","culture":"3");
$categories:"Technologia","Kultura","Motoryzacja","Programowanie","Historia";
$tip-backgrounds:("Technologia":"1", "Kultura":"2", "Motoryzacja":"3", "Programowanie":"1", "Historia":"4");