.answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  max-width: 800px;
  margin: $s-xxsmall auto;
  &__reverseGradient {
    &--Technologia {
      background: linear-gradient(
        90deg,
        rgba(143, 38, 140, 1) 0%,
        rgba(2, 0, 36, 1) 100%
      );
    }
  }
}

@media only screen and (max-width: 850px) {
  .answers {
    justify-content: center;
    align-content: center;
    max-width: 800px;
    margin: $s-xxsmall auto;
  }
}
