.buttonWrapper {
  width: 100%;
  display: flex;
  align-content: center;
  .start_quiz {
    margin: 10px auto;
  }
}

.startButton {
  &__Technologia {
    border: solid 2px rgb(143, 38, 140);
    box-shadow: 2px 2px 5px rgba(219, 59, 214, 0.7);
    @include start_button;
    @include gradient2;

    &--image {
      margin: 0 auto;
      width: $s-normal;
      height: $s-normal;
      background: url("../../../../assets/start_technology.png");
      background-size: 100% 100%;
    }
    &:hover {
      cursor: pointer;
      filter: hue-rotate(40deg) brightness(1.5);
    }
  }
  &__Programowanie {
    border: 1px solid rgba(202, 202, 202, 0.8);
    box-shadow: 1px 1px 5px rgba(55, 98, 190, 0.7);
    @include start_button;
    @include gradient1;

    &--image {
      margin: 0 auto;
      width: $s-normal;
      height: $s-normal;
      background: url("../../../../assets/start_technology.png");
      background-size: 100% 100%;
    }
    &:hover {
      cursor: pointer;
      filter: hue-rotate(40deg) brightness(2);
    }
  }

  &__Kultura {
    @include start_button;
    @include gradient3;
    border: 1px solid rgba(202, 202, 202, 0.8);
    box-shadow: 2px 2px 5px rgba(55, 98, 190, 0.7);
    &--image {
      margin: 0 auto;
      width: $s-normal;
      height: $s-normal;
      background: url("../../../../assets/start_culture.png");
      background-size: 100% 100%;
    }
    &:hover {
      cursor: pointer;
      filter: hue-rotate(40deg) brightness(1.3);
    }
  }
  &__Motoryzacja {
    @include start_button;
    @include gradient5;
    border: 1px solid rgba(202, 202, 202, 0.8);
    box-shadow: 2px 2px 5px rgba(55, 98, 190, 0.7);

    &--image {
      margin: 0 auto;
      width: $s-normal;
      height: $s-normal;
      background: url("../../../../assets/start_moto.png");
      background-size: 100% 100%;
    }
    &:hover {
      cursor: pointer;
      filter: brightness(1.5);
    }
  }
  &__Historia {
    @include start_button;
    @include gradient7;
    border: 1px solid rgba(202, 202, 202, 0.8);
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.7);
    &--image {
      margin: 0 auto;
      width: $s-normal;
      height: $s-normal;
      background: url("../../../../assets/start_history.png");
      background-size: 100% 100%;
    }
    &:hover {
      cursor: pointer;
      filter: brightness(1.5);
    }
  }
}

.good0,
.good1,
.good2,
.good3,
.good4 {
  transition: 0.8s all;
  box-shadow: 0 0 $s-small $s-xsmall $c-green !important;
  &:after {
    @include SignOfAnswer;
    right: $s-xxsmall;
    top: 10%;
    background-image: url("../../../../assets/goodAnswer.png");
  }
}

.bad0,
.bad1,
.bad2,
.bad3,
.bad4 {
  transition: 0.8s all;
  box-shadow: 0 0 $s-small $s-xsmall $c-red !important;
  &:after {
    @include SignOfAnswer;
    right: $s-xxsmall;
    top: 10%;
    background-image: url("../../../../assets/badAnswer.png");
  }
}

@media screen and (max-width: 600px) {
  .good0,
  .good1,
  .good2,
  .good3,
  .good4 {
    &:after {
      right: -60px;
    }
  }

  .bad0,
  .bad1,
  .bad2,
  .bad3,
  .bad4 {
    &:after {
      right: -60px;
    }
  }
}
