.main-wrapper__categories {
  margin: $s-small auto;
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  color: $c-white;
  justify-content: center;

  .category {
    &__Homepage {
      hr {
        margin: 20px 0 15px 0;
        width: 80%;
        border: 0px;
        background: rgb(185, 0, 145);
        height: 1px;
      }
      border: solid 1px rgba(248, 230, 255, 0.2);
      box-shadow: 1px 1px 5px rgb(217, 154, 241);
      @include category;
      @include gradient1;
      &:hover {
        filter: hue-rotate(40deg) brightness(2);
      }
    }

    &__Technologia {
      @include category;
      @include gradient2;
      border: solid 1px rgb(149, 39, 143);
      box-shadow: 1px 1px 5px rgb(217, 154, 241);
      &:hover {
        filter: hue-rotate(40deg) brightness(2);
      }
    }
    &__Kultura {
      @include category;
      @include gradient3;
      border: solid 1px rgb(255, 255, 255);
      box-shadow: 1px 1px 5px rgb(217, 154, 241);
      &:hover {
        filter: hue-rotate(40deg) brightness(1.3);
      }
    }
    &__Motoryzacja {
      @include category;
      @include gradient5;
      border: solid 1px rgb(255, 255, 255);
      box-shadow: 1px 1px 5px rgb(217, 154, 241);
      &:hover {
        cursor: pointer;
        filter: brightness(1.5);
      }
    }
    &__Programowanie {
      border: solid 1px rgb(139, 105, 201);
      box-shadow: 1px 1px 2px rgb(217, 154, 241);
      @include category;
      @include gradient1;
      &:hover {
        filter: hue-rotate(40deg) brightness(1.3);
      }
    }
    &__Historia {
      border: solid 1px rgb(255, 255, 255);
      box-shadow: 1px 1px 5px rgb(237, 190, 255);
      @include category;
      @include gradient7;
      &:hover {
        filter: hue-rotate(40deg) brightness(1.3);
      }
    }

    &__img {
      width: $s-normal;
      height: $s-normal;
    }

    &__container {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      border-radius: $s-xsmall;
      padding: $s-xsmall;
    }
  }

  .anotherCat {
    margin: 4px;
    width: 100px;
    height: 100px;
    font-size: $s-xsmall;
  }
}

.cat {
  text-align: center;
  width: 100px;
  height: 100px;
  margin: $s-xsmall auto;
  color: white;
  display: flex;
  justify-content: center;
  .category__img {
    margin: $s-xxsmall 30px;
  }
}

.noWrap {
  flex-wrap: wrap;
}
hr {
  margin: 5px auto;
  width: 80%;
  border: 0px;
  background: rgb(185, 0, 145);
  height: 1px;
}
