.AnswersDD {
  width: 255px;
  margin: $s-small auto;
  hr {
    max-width: 320px;
  }
  &__check {
    font-size: pxToRem(30);
    margin: 10px auto;
  }
  &__Drag {
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: $s-xxsmall;
    height: 35px;
    p {
      text-align: center;
    }
  }
}
.AnswersDD__2 {
  display: flex;
  width: 600px;
  max-width: 600px;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 15px;
}

.QuestionDD {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  &__tip {
    color: $c-white;
    font-size: pxToRem(12);
    padding: $s-xsmall;
    opacity: 50%;
    display: none;
  }
  &__content {
    margin: 20px 20px;
    font-family: $mainFont;
    display: flex;
    justify-content: center;
    align-content: center;
    color: $c-white;
    font-size: pxToRem(20);
    p {
      text-align: center;
      margin: auto $s-xsmall;
      text-shadow: $shadow-1;
    }
  }

  &__DDPlace--Technologia {
    @include dragAndDropPlace;
    border: 2px solid rgb(141, 38, 139);
  }
  &__DDPlace--Kultura {
    @include dragAndDropPlace;
    border: 2px solid rgb(205, 205, 205);
  }
  &__DDPlace--Motoryzacja {
    @include dragAndDropPlace;
    border: 1px solid rgba(205, 205, 205, 0.5);
  }
  &__DDPlace--Historia {
    @include dragAndDropPlace;
    border: 2px solid rgba(205, 205, 205, 0.5);
  }

  &__DDPlace--Programowanie {
    @include dragAndDropPlace;
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

  &__choice--Technologia {
    //zmiana

    @include dragAndDropButton;
    @include gradient2;
    border: 1px solid rgb(141, 38, 139);
    box-shadow: 2px 2px 5px rgba(219, 59, 214, 0.7);
  }
  &__choice--Kultura {
    @include gradient3;
    @include dragAndDropButton;
    border: 1px solid rgb(205, 205, 205);
    box-shadow: 2px 2px 5px rgba(55, 98, 190, 0.7);
  }
  &__choice--Motoryzacja {
    @include gradient5;
    @include dragAndDropButton;
    border: 1px solid rgb(205, 205, 205);
    box-shadow: 2px 2px 5px rgba(55, 98, 190, 0.7);
    &:hover {
      cursor: pointer;
      filter: brightness(1.5);
    }
  }
  &__choice--Programowanie {
    //zmiana button wybór
    @include gradient1;
    @include dragAndDropButton;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 1px 1px 5px rgba(197, 214, 250, 0.7);
  }
  &__choice--Historia {
    @include gradient7;
    @include dragAndDropButton;
    border: 1px solid rgba(255, 255, 255, 0.7);
  }
  .good5 {
    transition: 0.8s all;
    box-shadow: 0 0 $s-small $s-xsmall $c-green;
    &:after {
      @include SignOfAnswer;
      right: -15px;
      top: -15px;
      background-image: url("../../../../assets/goodAnswer.png");
    }
  }
  .bad5 {
    transition: 0.8s all;
    box-shadow: 0 0 $s-small $s-xsmall $c-red;
    &:after {
      @include SignOfAnswer;
      right: -15px;
      top: -15px;
      background-image: url("../../../../assets/badAnswer.png");
    }
  }
  @media screen and (max-width: 600px) {
    .good5 {
      &:after {
        right: -60px;
        top: 10%;
      }
    }
    .bad5 {
      &:after {
        right: -60px;
        top: 10%;
      }
    }
  }
}

@media screen and (max-width: 915px) {
  .AnswersDD__2 {
    min-height: 135px;
  }
}

@media screen and (max-width: 650px) {
  .AnswersDD__2 {
    width: 350px;
    justify-content: center;
  }
}
@media screen and (max-width: 457px) {
  .AnswersDD__2 {
    min-height: 280px;
    width: 170px;
  }
}
