@each $category, $bg in $categories-backgrounds {
  .main-wrapper__#{$category} {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    padding: 50px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      background: url("./../../../../assets/bg#{$bg}.png");
      background-size: cover;
      transform: rotate(0deg);
    }
  }
}

.invertBackground::before {
  transform: rotate(180deg);
}

.main-wrapper__container {
  max-width: 1400px;
  margin: auto;
  width: 100%;
}

@media screen and (max-width: 760px) {
  .main-wrapper {
    padding: 25px;
  }
}

@media screen and (max-width: 360px) {
  .main-wrapper {
    padding: none;
  }
}
