.quiz {
  &__header {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  &__resultCircle {
    @each $category in $categories {
      &-#{$category} {
        @include result_circle;
        background: url("../../../../assets/resultCircle#{$category}.png");
        background-size: 100% 100%;
      }
    }
    &--numb {
      color: rgb(255, 28, 244);
    }
  }

  &__question {
    font-family: $mainFont;
    font-size: pxToRem(20);
    padding: 20px;
    text-align: center;
    color: $c-white;
    text-shadow: $shadow-1;
  }
}
// Media screen
@media screen and (max-width: 620px) {
  .quiz__resultCircle {
    &-Motoryzacja,
    &-Kultura,
    &-Programowanie,
    &-Technologia,
    &-Historia {
      margin: $s-xxsmall auto;
    }
  }
}
