.endResultTip {
  font-size: pxToRem(16);
  margin: auto -150px auto 0;
  z-index: 0;

  p {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 460px;
    height: 60px;
    text-align: center;
    font-size: 20px;
    i {
      margin: auto;
      font-style: normal;
      display: block;
    }
  }
}

.endResultCircle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-size: pxToRem(35);
  width: 120px;
  height: 120px;
  z-index: 1;
  p {
    b {
      color: white;
    }
  }
}

.result-wrapper {
  width: 95%;
  .start_quiz {
    margin: 10px auto;
  }
  display: flex;
  flex-wrap: wrap;

  &__result {
    flex-basis: 95%;
  }

  &__yourResult {
    margin: 0 0 20px;
    width: calc(50% + 60px);
    display: flex;
    justify-content: flex-end;
    position: relative;

    .endResultTip {
      width: 320px;
      max-width: 320px;
      margin: auto -15px;
    }

    @media only screen and (max-width: 850px) {
      .endResultTip {
        display: none;
      }
      .endResultCircle {
        font-size: pxToRem(35);
        width: 200px;
        height: 200px;
        z-index: 1;
        p {
          b {
            color: white;
          }
        }
      }
    }
  }

  &__category {
    text-shadow: $shadow-1;
    flex-basis: 5%;
    font-size: pxToRem(14);
    color: $c-white;
    margin: -60px 0 0 -60px;
    p {
      margin: 0;
      text-align: right;
    }
  }
}

.result-wrapper__yourResult > .quiz_header {
  position: absolute;
  top: 5px;
  left: 10px;
}

@media only screen and (max-width: 1110px) {
  .result-wrapper__category {
    text-align: center;
    margin: $s-xsmall auto;
    flex-basis: 100%;
    p {
      text-align: center;
    }
  }
  .result-wrapper__result {
    flex-basis: 100%;
  }
  .result_title {
    width: 93%;
  }
}

@media only screen and (max-width: 850px) {
  .result-wrapper__yourResult {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
  .endResultCircle {
    margin: $s-xxsmall auto;
  }
  .endResultTip {
    max-width: none;
    width: 100%;
    p {
      text-align: center;
    }
  }
}

.quiz__resultCircle--Title {
  font-size: pxToRem(20);
  margin: 20px 0 -25px 0;
  display: none;
}
// .quiz__resultCircle--wrapper{
//   margin:auto;
// }

@media only screen and (max-width: 850px) {
  .endResultCircle > .quiz__resultCircle--Title,
  p {
    display: block;

    text-align: center;
  }
}
@media only screen and (min-width: 850px) {
  .endResultCircle {
    flex-direction: row;
  }
}
