.main-wrapper__tip {
  @each $category, $bg in $tip-backgrounds {
    &-#{$category} {
      @include tip_wrapper;
      p {
        background: url("../../../../assets/bgOpacity#{$bg}.png");
        background-size: 100% 100%;
        min-height: 30px;
        min-width: 320px;
      }
      @media only screen and (max-width: 400px) {
        p {
          min-width: 200px;
        }
      }
    }
  }
}

.tip_wrapper {
  display: flex;
  align-content: center;
}
