.main-wrapper__title {
  width: 100%;
  min-height: 100px;
  position: relative;
  color: $c-white;
  display: flex;
  .logo {
    width: 100%;
    font-size: pxToRem(30);
    text-align: center;
    justify-content: center;
  }

  .navButton {
    position: absolute;

    width: $s-small;
    height: $s-small;
    margin: 0 $s-xxsmall;
    transition: 0.3s all;
    &:hover {
      cursor: pointer;
      transform: rotate(360deg);
    }
  }
  .navButtonBack {
    top: $s-xxsmall;
    right: 18%;
  }
  .navButtonClose {
    top: $s-xxsmall;
    right: 16%;
  }

  .navButtonCloseResult {
    top: $s-xxsmall;
    right: -4%;
  }

  @media only screen and (max-width: 1200px) {
    .navButtonBack {
      top: $s-xxsmall;
      right: 19%;
    }
  }
  @media only screen and (max-width: 850px) {
    .navButtonBack {
      top: $s-xxsmall;
      right: 20%;
    }
  }

  @media only screen and (max-width: 720px) {
    .result_title {
      width: 100%;
    }
  }
  @media only screen and (max-width: 600px) {
    .navButtonBack {
      top: $s-xxsmall;
      left: $s-xsmall;
    }
    .navButtonClose {
      right: 5%;
    }
  }
  @media only screen and (max-width: 500px) {
    .navButtonClose {
      right: 1%;
    }
    .navButtonBack {
      left: -10%;
    }
  }
  @media only screen and (max-width: 400px) {
    .navButtonClose {
      right: -10%;
    }
  }
}

.result_title {
  width: 88%;
}
